.app-register {
  margin: 0 auto;
  width: 600px;
}
.container {
  padding-bottom: 20px;
}
.mat-card-subtitle {
  margin-bottom: 0;
}
.product_row {
  display: flex;
  justify-content: space-between;
  /* width: 600px; */
  margin: 10px auto;
  padding: 25px 20px;
  border-radius: 4px;
  background: white;
}
.product_row *:first-child {
  width: 50%;
}
.total {
  margin: 25px auto 0 auto;
  text-align: right;
  /* width: 600px; */
  font-size: 20px;
}
.mat-card-subtitle:not(:first-child) {
  margin-top: 0;
}

@media screen and (max-width: 568px) {
  .app-register,
  .product_row {
    width: 90vw;
  }
}
