<h1 class="mt-5" style="text-align: center;">Orders</h1>

<h3 *ngIf="!customer" style="text-align: center;">
  Logg in to view all orders.
</h3>

<div class="container">
  <mat-spinner *ngIf="isLoading" style="margin: 0 auto;"></mat-spinner>

  <mat-card *ngFor="let order of orders; let i = index" class="mb-3">
    <mat-card-title class="mb-3"
      ><strong>Order:</strong> {{ i + 1 }}</mat-card-title
    >
    <mat-card-subtitle
      ><strong>Order-ID:</strong> {{ order.id }}</mat-card-subtitle
    >
    <mat-card-subtitle
      ><strong>Order-date:</strong>
      {{ order.orderDate | date: "fullDate" }}</mat-card-subtitle
    >
    <div *ngFor="let row of order.orderRows; let i = index" class="mb-3">
      <mat-card-subtitle
        ><strong>Shoe {{ i + 1 }}: </strong>
        {{ row.shoe.name }}</mat-card-subtitle
      >
      <mat-card-subtitle
        ><strong>Quantity:</strong> {{ row.qty }}</mat-card-subtitle
      >
      <mat-card-subtitle
        ><strong>Size:</strong>
        {{ row.size.sizeDescription }}</mat-card-subtitle
      >
      <mat-card-subtitle
        ><strong>Color:</strong>
        {{ row.color.colorDescription }}</mat-card-subtitle
      >
      <picture>
        <source media="(min-width:0px)" [srcset]="row.shoe.imageUrl" />
        <img mat-card-image src="" alt="Photo of a Shiba Inu" />
      </picture>
    </div>
  </mat-card>
</div>
