.container {
  margin-bottom: 100px;
}
.mat-card div {
  justify-content: space-between;
  display: flex;
  margin-right: 50px;
  flex-direction: column;
  align-items: left;
}

.mat-card div {
  padding: 30px 0 10px 0;
  border-top: 1px solid #ddd;
}

.mat-card-image {
  margin: 0;
}

.mat-card div picture {
  width: 200px;
  position: absolute;
  margin-left: 10px;
  right: 0;
  margin-right: 100px;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .mat-card div picture {
    width: 150px;
  }
}

@media screen and (max-width: 600px) {
  .mat-card div picture {
    position: relative;
    padding-top: 20px;
    margin-top: 0;
  }
}
