<div class="flex container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <picture>
    <source media="(min-width:0px)" [srcset]="shoe.imageUrl" />
    <img mat-card-image src="" alt="Photo of a Shiba Inu" />
  </picture>
  <div class="product_content">
    <h2>
      <strong>{{ shoe.brand }}</strong>
    </h2>
    <h3>{{ shoe.name }}</h3>
    <h3>{{ shoe.price }}:-</h3>

    <!-- // Form select  -->
    <div class="form-group">
      <label for="sizePicker">Välj storlek</label>
      <select
        name="sizePicker"
        id="sizePicker"
        class="form-control"
        [(ngModel)]="size.id"
      >
        <option *ngFor="let size of sizes" [value]="size.id">{{
          size.sizeDescription
        }}</option>
      </select>
    </div>

    <button class="btn btn-primary" (click)="addToCard()">
      Lägg i varukorg
    </button>
  </div>

  <div class="product_description">
    <p><strong>Beskrivning</strong></p>
    <p>{{ shoe.productDescription }}</p>
  </div>
</div>
