img {
  text-align: center;
  min-width: 253px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 15%;
}
picture {
  padding: 10px 30px;
  width: 50%;
}
.product_content {
  width: 30%;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px auto;
  justify-content: space-around;
}

.product_description {
  margin: 40px 0;
}

@media screen and (max-width: 978px) {
  picture,
  .product_content {
    padding: 10px;
    width: 100%;
  }
}
