<h1 class="mt-5" style="text-align: center;">Basket</h1>

<div class="container">
  <div
    *ngFor="let row of basketData; let i = index"
    class="mb-3"
    style="flex-direction: row;"
  >
    <div style="flex-direction: column; display: flex;">
      <mat-card-subtitle
        ><strong>Product {{ i + 1 }}: </strong>
      </mat-card-subtitle>

      <mat-card-subtitle
        ><strong>Shoe:</strong> {{ row.shoe?.name }}</mat-card-subtitle
      >

      <mat-card-subtitle
        ><strong>Size:</strong>
        {{ row.size?.sizeDescription }}</mat-card-subtitle
      >
      <mat-card-subtitle
        ><strong>Color:</strong>
        {{ row.color?.colorDescription }}</mat-card-subtitle
      >
      <mat-card-subtitle
        ><strong>Price:</strong> {{ row.shoe?.price }}:-</mat-card-subtitle
      >

      <mat-card-subtitle class="quantity"
        ><strong>Quantity:</strong>
        <input
          min="1"
          type="number"
          id="quantity"
          (change)="changeQuantity(i, quantitys[i])"
          [(ngModel)]="quantitys[i]"
          [value]="row.qty"
      /></mat-card-subtitle>
    </div>
    <picture>
      <source media="(min-width:0px)" [srcset]="row.shoe?.imageUrl" />
      <img mat-card-image src="" alt="Photo of a Shiba Inu" />
    </picture>

    <i class="fa fa-remove" (click)="removeProduct(i)"></i>
  </div>

  <p *ngIf="orderRows.length === 0" style="text-align: center;">
    You have no products in the basket yet.
  </p>
  <button
    *ngIf="orderRows.length !== 0"
    class="btn btn-success"
    style="float: right"
    (click)="handleRoute()"
    [disabled]="verified === false"
  >
    Checkout
  </button>
</div>
