<h1 class="mt-5" style="text-align: center;">Basket</h1>

<div class="container">
  <div *ngFor="let row of orderRows; let i = index" class="mb-3">
    <div>
      <mat-card-subtitle
        ><strong>Product {{ i + 1 }}: </strong>
      </mat-card-subtitle>
      <mat-card-subtitle
        ><strong>Shoe:</strong> {{ shoeData(i, "name") }}</mat-card-subtitle
      >
      <mat-card-subtitle
        ><strong>Quantity:</strong> {{ row.qty }}</mat-card-subtitle
      >
      <mat-card-subtitle
        ><strong>Price:</strong> {{ shoeData(i, "price") }}:-</mat-card-subtitle
      >
    </div>
    <picture>
      <source media="(min-width:0px)" [srcset]="shoeData(i, 'shoe')" />
      <img mat-card-image src="" alt="Photo of a Shiba Inu" />
    </picture>
  </div>

  <p *ngIf="orderRows.length === 0" style="text-align: center;">
    You have no products in the basket yet.
  </p>
  <button
    *ngIf="orderRows.length !== 0"
    class="btn btn-success"
    style="float: right"
    (click)="handleRoute()"
    [disabled]="verified === false"
  >
    Checkout
  </button>
</div>
