<h1 style="text-align: center;" class="mt-5 mb-5">
  Admin

  <!-- <h3 *ngIf="!admin" style="text-align: center;">Logg in to view all orders.</h3> -->

  <div class="container">
    <mat-card *ngFor="let order of orders" class="mb-3">
      <details>
        <summary class="mb-3">Customer : {{ order.customerId }}</summary>
        <mat-card-subtitle
          ><strong>Order-date:</strong>
          {{ order.orderDate | date: "fullDate" }}</mat-card-subtitle
        >
        <mat-card-subtitle
          ><strong>Order-ID:</strong> {{ order.id }}</mat-card-subtitle
        >
        <div
          *ngFor="let row of order.orderRows; let i = index"
          class="mb-3"
          style="padding-left: 10px"
        >
          <mat-card-subtitle
            ><strong>Shoe {{ i + 1 }}: </strong>
            {{ row.shoe.name }}</mat-card-subtitle
          >
          <mat-card-subtitle
            ><strong>Size: </strong>
            {{ row.size.sizeDescription }}</mat-card-subtitle
          >
          <!-- <mat-card-subtitle
        ><strong>Quantity:</strong> {{ row.qty }}</mat-card-subtitle
      > -->
        </div>
      </details>
    </mat-card>
  </div>
</h1>
