picture {
  text-align: center;
  margin-bottom: 20px;
}
.card {
  min-height: 360px;
  padding: 20px;
  cursor: pointer;
  transition: ease 0.3s;
  box-shadow: 0 2px 1px 0px rgba(0, 0, 0, 0.25);
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  background-color: #e6ffdf;
}
.mat-card-image {
  width: 90%;
}

@media screen and (max-width: 768px) {
  .mat-card {
    margin: 15px;
    min-height: auto;
    width: auto;
  }
  .mat-card-title {
    font-size: 20px;
  }
}
