<form #registerForm="ngForm" (ngSubmit)="register()" class="app-register">
  <h2 class="text-center">Sign Up</h2>
  <hr />

  <div class="form-group">
    <label for="Username">Username</label>
    <input
      autofocus
      id="Username"
      type="text"
      class="form-control"
      required
      name="UserName"
      placeholder="Username"
      [(ngModel)]="model.UserName"
    />
  </div>

  <div class="form-group">
    <label for="Email">Email</label>
    <input
      id="Email"
      type="email"
      class="form-control"
      required
      email
      name="Email"
      placeholder="Email"
      [(ngModel)]="model.Email"
    />
  </div>

  <div class="form-group">
    <label for="Password">Password</label>
    <input
      id="Password"
      type="password"
      class="form-control"
      required
      name="Password"
      placeholder="Password"
      [(ngModel)]="model.Password"
      minlength="4"
    />
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-primary"
      [disabled]="!registerForm.form.valid"
      type="submit"
    >
      Register
    </button>

    <button
      class="btn btn-default"
      type="button"
      style="margin-left: 10px"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
